<div class="container">
  <h1>New game</h1>

  <div>
    <ul class=letterbox>
      <% @letters.each do |letter|%>
        <li>
          <%= letter %>
        </li>
        <%end%>
    </ul>
  </div>

  <p>What is the longest word you can find?</p>
  <form action="/score" method="post" data-turbo="false" >
  <input id="textbox" name="try" type="text">
  <input type="submit" value="play" class="button">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  </form>
</div>
